<div class="container">
  <div class="">


    <div class="card hovercard" style="width: 280px;">
      <div class="cardheader">

      </div>
      <div class="avatar">
        <img alt="" src="{{user.image}}">
      </div>
      <div class="info">
        <div class="title">
          <a target="_blank" href="https://scripteden.com/">{{user.name}}</a>
        </div>
        <div class="desc">{{user.email}}</div>
        <div class="desc">Curious developer</div>
      </div>



    </div>

  </div>
</div>
