
/* CSS Document */
*{
	margin: 0px;
	padding: 0px;

}

#main-box{
	background: url('../../../../../assets/images/795cabc4647f73b365e2e6eabd0f34dc.png') no-repeat;
	background-size: cover;
	height: 650px;

}
#main-nav li{

	list-style: none;
	float: left;



}

#main-nav li a{

	padding: 15px;
	text-decoration: none;
	display: block;
		color: white;

	font-weight: bold;

}
#main-nav li a:hover{
	font-size: 20px;
	color: white;


}


                                                              /* create account */

#getinfo{
background-color: white;
	height: 500px;
}
#sh{

	font-weight: bold;
}
#main-nav{
  width: 99vw;
		transition: all 500ms ease;
}
