<div class="container-fluid">
  <div class="row">
    <div class="col-md-10">
      <div class="d-flex">
        <div class="" style="width: 60px; ">
          <img src="{{user.image}}" class="rounded-circle img-thumbnail"
            style="width: 60px; margin-top: 5px;">
        </div>
        <div style="margin-top: 2%; margin-left: 10px; line-height: 10px;">
          <label>{{user.name}}</label>
          <br>
          <small>{{user.is_online}}</small>

        </div>
      </div>
    </div>

    <div class="col-md-2">
      <div class="dropdown" style="margin-left: -20px;">
        <a data-toggle="dropdown" >
          <i style="float:right; font-size: 20px; margin-top: 20px; color: black;" class="fa fa-ellipsis-v"
            aria-hidden="true"></i>
        </a>

        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Block</a>
          <a class="dropdown-item" href="#">Add To Contacts</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Clear</a>
        </div>
      </div>
    </div>
  </div>
</div>
