.recieved_message_box{
    box-shadow: 0 8px 10px -6px black; width: 10vw;
    margin-left: 3vw;
    padding: 1vh;
    background-color: white;
    margin-top: 3vh;
    width: 60%;
  }
  .sended_message_box{
    box-shadow: 0 8px 10px -6px black; width: 10vw;
    margin-left: 30%;
    padding: 1vh;
    background-color: white;
    margin-top: 3vh;
    width: 60%;
  
  }
  